lightBackground = #37474F

primary = #00BCD4
primaryDark = #0097A7

accent = #FFFF00
accentDark = #FFEA00

lightText = darken(white, 10%)
darkText = lighten(black, 20%)

$xx-small = 10px
$x-small = 12px
$small = 14px
$medium = 16px
$large = 20px
$x-large = 26px