<h1>Upload</h1>
<div class="upload">
    <form name="trackInfo" ng-submit=submit()>
        <input type="file" accept=".mp3" file-loader />
        <input ng-model=artist name="artist" placeholder="Artist* (ex. D-Nox, Beckers)" ng-required=true />
        <input ng-model=title name="title" placeholder="Title* (ex. Son of a Pitch (Pig & Dan Remix))" ng-required=true />
        <input ng-model=remixer placeholder="Remixer" />
        <input type="submit" id="submit" value="Submit" ng-disabled="!trackInfo.$valid" ng-show="!uploading">
        <span ng-show="uploading">Uploading...</span>
        <span class="saved" ng-show="saved">Saved!</span>
    </form>
</div>


<!-- http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ -->
